/*
Module Name: Login | Forgot | Reset
Author: Jushua FF
*/

.login-pg,
.fp-pg,
.rp-pg {
	min-height: 100vh;
	background-color: #D3D3D3;
	background-image: url('../img/login-bg.svg');
}

.main-row{
	position: relative;
	height: 100%;
}

.main-col {
	margin: auto;
	overflow: auto;
	padding: 50px;
	border-radius: 2px;
	background-color: white;
}

.logo {
	margin-bottom: 50px;
	width: 100%;
}

form p { margin: 1.5rem 0; }

form .input-con,
form label,
form div {
	width: 100%;
}

form label { color: var(--color-blue); }
form .input-con { margin-bottom: 15px; }
form .input-con div { display: flex; }
form .input-con input {
	width: 100%;
	height: 45px;
	padding: 0 10px;
	font-size: 14px;
}

form .input-con .fas {
	background: var(--color-lblue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

form button { margin: 20px 0 15px 0; }

form .alert {
	font-size: 14px;
	line-height: 14px;
	padding: 10px;
	border-radius: 2px;
}

.input-con .icon-left {
	border-radius: 2px 0 0 2px;
}

.input-con .icon-right {
	border-radius: 0 2px 2px 0;
	color: var(--color-lblue) !important;
	background-color: white !important;
	border: 1px solid var(--color-lblue);
	border-left: 0;
	cursor: pointer;
}

.input-con .icon-right:hover { opacity: 0.8; }

.input-con [name='username'] {
	border-radius: 0 2px 2px 0;
	border:  1px solid var(--color-lblue);
	border-left: 0;
}

.input-con [type='password'] {
	border-radius: 0;
	border: 1px solid var(--color-lblue);
	border-left: 0;
	border-right: 0;
}

.mt-90 {
	margin-top: 90px;
}

